body{
	background-color: #fff;
	font font-family: arial;


}
header{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

.cont{
	width: 600px;
	margin: 0 auto;
}

.media{
	width: 600px;
	min-height: 200px;
	margin: 0 auto;

}

.media.map{
	width: 600px;
	min-height: 200px;
	margin: 0 auto;

}















